body {
	background: black;
	font-family: "Dosis", sans-serif;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
}

.postcard-header {
	display: flex;
}

.postcard-body {
	display: flex;
}

.body-right {
	text-align: center;
	font-family: "Dosis", sans-serif;
}

.geek {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 5px;
}

.postcard-footer {
	text-align: center;
	font-family: "Dosis", sans-serif;
}

button {
	font-family: "Dosis", sans-serif;
}

input {
	font-family: "Dosis", sans-serif;
}

.title {
	width: 400px;
	margin-left: 10px;
}

.body-left {
	margin-left: 10px;
}
